doctype html
html(lang="en")
  head
  body
    h1 Welcome to page 3
    // links or URLs are always GET resources as they are getting (retrieving) a resource
    a(href="/") Home
    a(href="/page1") Page 1
    a(href="/page2") Page 2
    //create a new dog so long as it has a new name
    form(action="/setDogName", method="POST")
      | Name:
      input(type="text", name="name", value="")
      | Breed:
      input(type="text", name="breed", value="")
      | Age:
      input(type="number", name="age" value="")
      input(type="submit", value="Submit")
    br
    br
    //search for a dog in the system and increase its age by 1 when you do
    form(action="/findDogByName", method="GET")
      | Name to search for (and make older):
      input(type="text", name="name", value="")
      input(type="submit", value="Submit")   
